<div class="modal-content border rounded">
    <div class="modal-header">
      <h2 class="modal-title pl-3 py-3">Task Options</h2>
      <hr>
    </div>
    <div class="modal-body flex flex-col items-start pl-3 pb-3">
      <button (click)="editTask()" class="modal-button mt-2">Edit</button>
      <button (click)="duplicateTask()" class="modal-button mt-2">Duplicate</button>
      <button (click)="changeStatusToClosed()" class="modal-button mt-2">
        Change Status to Closed
      </button>
    </div>
  </div>